# Database Configuration
spring.datasource.url=jdbc:h2:~/transmission.db
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=password
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=update

# Transmission Configuration
transmission.url=http://transmission:9091/transmission/rpc
transmission.username=transmission
transmission.password=transmission

# Built-in administrator
admin.username=admin
admin.password=admin
admin.enabled=true
